.login {
    height: 100%;
    background: #38215c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif !important;
  }
  .login__logo {
    max-width: 150px;
    margin-bottom: 30px;
  }
  .login__remember {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .login .site-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .login .has-error .help-block, .login .has-error .control-label, .login .has-error .radio, .login .has-error .checkbox, .login .has-error .radio-inline, .login .has-error .checkbox-inline, .login .has-error.radio label, .login .has-error.checkbox label, .login .has-error.radio-inline label, .login .has-error.checkbox-inline label {
    color: #fff;
  }
  .login .has-success .help-block, .login .has-success .control-label, .login .has-success .radio, .login .has-success .checkbox, .login .has-success .radio-inline, .login .has-success .checkbox-inline, .login .has-success.radio label, .login .has-success.checkbox label, .login .has-success.radio-inline label, .login .has-success.checkbox-inline label {
    color: #cbb5ff;
  }
  .login .btn-primary {
    color: #fff;
    background-color: #38215c;
    border-color: #fff;
    width: 70%;
  }
  .login .btn-primary:hover {
    color: #fff;
    background-color: #8874b6;
    border-color: #fff;
  }
  .login form {
    width: 30%;
  }
  @media screen and (max-width: 768px) {
    .login form {
      width: 80%;
    }
  }
  