html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    position: relative;
    height: 80px;
    background-color: #38215C;
    padding: 20px 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ######################### */

.footer > .container {
    height: 100%;
}

.navbar-brand img {
    max-width: 80px;
}

.navbar-inverse {
    background: #38215C;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #8874b6;
}

.circle-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 50px;
}
.orange-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70px;
}

.make-with-love {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 100%;
}

.make-with-love a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
    
}
.make-with-love a:hover {
    color: #8874b6;

}

.orders {
    margin-top: 50px;
}

.orders__color {
    padding: 10px 0;
}

.orders__form {
    max-width: 500px;
    margin: 0 auto;
}

.orders__form__message {
    text-align: center;
    margin: 20px 0;
}
